body {
    font-family: "Comic Sans MS", "Times New Roman";
}

#cat_menu li {
    cursor: pointer;
    text-transform: capitalize;
}

#cat_box h2 {
    text-transform: capitalize;
}

#cat_box img {
    width: 700px;
    cursor: pointer;
}
